/.idea/compiler.xml
/.idea/libraries/Maven__cglib_cglib_3_2_0.xml
/.idea/libraries/Maven__jmock_jmock_1_2_0.xml
/.idea/libraries/Maven__junit_junit_4_12.xml
/.idea/libraries/Maven__org_apache_ant_ant_1_9_4.xml
/.idea/libraries/Maven__org_apache_ant_ant_launcher_1_9_4.xml
/.idea/libraries/Maven__org_apache_extras_beanshell_bsh_2_0b6.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_library_1_3.xml
/.idea/libraries/Maven__org_jmock_jmock_2_8_4.xml
/.idea/libraries/Maven__org_jmock_jmock_junit4_2_8_4.xml
/.idea/libraries/Maven__org_jmock_jmock_legacy_2_8_4.xml
/.idea/libraries/Maven__org_jmock_jmock_testjar_2_8_4.xml
/.idea/libraries/Maven__org_objenesis_objenesis_2_1.xml
/.idea/libraries/Maven__org_ow2_asm_asm_5_0_4.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/design_pattern.iml
/target/classes/com/xyz/pattern/decorator/decorator01/Father.class
/target/classes/com/xyz/pattern/decorator/decorator01/FouthGradeSchoolReport.class
/target/classes/com/xyz/pattern/decorator/decorator01/SchoolReport.class
/target/classes/com/xyz/pattern/responsibility_chain/common_responsibility_chain/Client.class
/target/classes/com/xyz/pattern/responsibility_chain/common_responsibility_chain/ConcreteHandler1.class
/target/classes/com/xyz/pattern/responsibility_chain/common_responsibility_chain/ConcreteHandler2.class
/target/classes/com/xyz/pattern/responsibility_chain/common_responsibility_chain/ConcreteHandler3.class
/target/classes/com/xyz/pattern/responsibility_chain/common_responsibility_chain/Handler.class
/target/classes/com/xyz/pattern/responsibility_chain/common_responsibility_chain/Level.class
/target/classes/com/xyz/pattern/responsibility_chain/common_responsibility_chain/Request.class
/target/classes/com/xyz/pattern/responsibility_chain/common_responsibility_chain/Response.class
/target/classes/com/xyz/pattern/decorator/decorator02/Father.class
/target/classes/com/xyz/pattern/decorator/decorator02/FouthGradeSchoolReport.class
/target/classes/com/xyz/pattern/decorator/decorator02/SchoolReport.class
/target/classes/com/xyz/pattern/decorator/decorator02/SugarFouthGradeSchoolReport.class
/target/classes/com/xyz/pattern/decorator/decorator03/Decorator.class
/target/classes/com/xyz/pattern/decorator/decorator03/Father.class
/target/classes/com/xyz/pattern/decorator/decorator03/FouthGradeSchoolReport.class
/target/classes/com/xyz/pattern/decorator/decorator03/HighScoreDecorator.class
/target/classes/com/xyz/pattern/decorator/decorator03/SchoolReport.class
/target/classes/com/xyz/pattern/decorator/decorator03/SortDecorator.class
/.idea/uiDesigner.xml
/target/classes/com/xyz/pattern/decorator/common_decorator/Client.class
/target/classes/com/xyz/pattern/decorator/common_decorator/Component.class
/target/classes/com/xyz/pattern/decorator/common_decorator/ConcreteComponent.class
/target/classes/com/xyz/pattern/decorator/common_decorator/ConcreteDecorator1.class
/target/classes/com/xyz/pattern/decorator/common_decorator/ConcreteDecorator2.class
/target/classes/com/xyz/pattern/decorator/common_decorator/Decorator.class
/target/classes/com/xyz/pattern/strategy/common_strategy/Client.class
/target/classes/com/xyz/pattern/strategy/common_strategy/ConcreteStrategy1.class
/target/classes/com/xyz/pattern/strategy/common_strategy/ConcreteStrategy2.class
/target/classes/com/xyz/pattern/strategy/common_strategy/Context.class
/target/classes/com/xyz/pattern/strategy/common_strategy/Strategy.class
/target/classes/com/xyz/pattern/strategy/strategy01/BackDoor.class
/target/classes/com/xyz/pattern/strategy/strategy01/BlockEnemy.class
/target/classes/com/xyz/pattern/strategy/strategy01/Context.class
/target/classes/com/xyz/pattern/strategy/strategy01/GivenGreenLight.class
/target/classes/com/xyz/pattern/strategy/strategy01/IStrategy.class
/target/classes/com/xyz/pattern/strategy/strategy01/ZhaoYun.class
/target/classes/com/xyz/pattern/strategy/strategy02/Calculator.class
/target/classes/com/xyz/pattern/strategy/strategy02/Calculator1.class
/target/classes/com/xyz/pattern/strategy/strategy02/Client.class
/target/classes/com/xyz/pattern/strategy/strategy03/AddCalculator.class
/target/classes/com/xyz/pattern/strategy/strategy03/Calculator.class
/target/classes/com/xyz/pattern/strategy/strategy03/Client.class
/target/classes/com/xyz/pattern/strategy/strategy03/Context.class
/target/classes/com/xyz/pattern/strategy/strategy03/SubCalculator.class
/target/classes/com/xyz/pattern/strategy/strategy04/Calculator$1.class
/target/classes/com/xyz/pattern/strategy/strategy04/Calculator$2.class
/target/classes/com/xyz/pattern/strategy/strategy04/Calculator.class
/target/classes/com/xyz/pattern/strategy/strategy04/Client.class
/.idea/artifacts/crm_war.xml
/.idea/artifacts/crm_war_exploded.xml
/.idea/libraries/lib.xml
/.idea/libraries/Maven__com_google_protobuf_protobuf_java_2_6_0.xml
/.idea/libraries/Maven__com_sun_mail_javax_mail_1_5_6.xml
/.idea/libraries/Maven__commons_codec_commons_codec_1_11.xml
/.idea/libraries/Maven__commons_httpclient_commons_httpclient_3_1.xml
/.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
/.idea/libraries/Maven__javax_activation_activation_1_1_1.xml
/.idea/libraries/Maven__javax_mail_javax_mail_api_1_6_2.xml
/.idea/libraries/Maven__javax_servlet_javax_servlet_api_4_0_1.xml
/.idea/libraries/Maven__mysql_mysql_connector_java_8_0_12.xml
/.idea/libraries/Maven__org_apache_commons_commons_email_1_5.xml
/target/classes/com/xyz/pattern/adapter/adapter01/Client.class
/target/classes/com/xyz/pattern/adapter/adapter01/IOuterUser.class
/target/classes/com/xyz/pattern/adapter/adapter01/IUserInfo.class
/target/classes/com/xyz/pattern/adapter/adapter01/OuterUser.class
/target/classes/com/xyz/pattern/adapter/adapter01/OuterUserInfo.class
/target/classes/com/xyz/pattern/adapter/adapter01/UserInfo.class
/target/classes/com/xyz/pattern/adapter/adapter02/Client.class
/target/classes/com/xyz/pattern/adapter/adapter02/IOuterUserBaseInfo.class
/target/classes/com/xyz/pattern/adapter/adapter02/IOuterUserHomeInfo.class
/target/classes/com/xyz/pattern/adapter/adapter02/IOuterUserOfficeInfo.class
/target/classes/com/xyz/pattern/adapter/adapter02/IUserInfo.class
/target/classes/com/xyz/pattern/adapter/adapter02/OuterUserBaseInfo.class
/target/classes/com/xyz/pattern/adapter/adapter02/OuterUserHomeInfo.class
/target/classes/com/xyz/pattern/adapter/adapter02/OuterUserInfo.class
/target/classes/com/xyz/pattern/adapter/adapter02/OuterUserOfficeInfo.class
/target/classes/com/xyz/pattern/adapter/adapter02/UserInfo.class
/target/classes/com/xyz/pattern/adapter/common_adapter/Adaptee.class
/target/classes/com/xyz/pattern/adapter/common_adapter/Adapter.class
/target/classes/com/xyz/pattern/adapter/common_adapter/Client.class
/target/classes/com/xyz/pattern/adapter/common_adapter/ConcreteTarget.class
/target/classes/com/xyz/pattern/adapter/common_adapter/Target.class
/target/classes/com/xyz/pattern/iterator/iterator01/Client.class
/target/classes/com/xyz/pattern/iterator/iterator01/IProject.class
/target/classes/com/xyz/pattern/iterator/iterator01/Project.class
/target/classes/com/xyz/pattern/iterator/iterator02/Boss.class
/target/classes/com/xyz/pattern/iterator/iterator02/IProject.class
/target/classes/com/xyz/pattern/iterator/iterator02/IProjectIterator.class
/target/classes/com/xyz/pattern/iterator/iterator02/Project.class
/target/classes/com/xyz/pattern/iterator/iterator02/ProjectIterator.class
/target/classes/com/xyz/pattern/composite/composite01/Client.class
/target/classes/com/xyz/pattern/composite/composite01/ConcreteBranch.class
/target/classes/com/xyz/pattern/composite/composite01/ConcreteLeaf.class
/target/classes/com/xyz/pattern/composite/composite01/ConcreteRoot.class
/target/classes/com/xyz/pattern/composite/composite01/IBranch.class
/target/classes/com/xyz/pattern/composite/composite01/ILeaf.class
/target/classes/com/xyz/pattern/composite/composite01/IRoot.class
/target/classes/com/xyz/pattern/composite/composite02/Branch.class
/target/classes/com/xyz/pattern/composite/composite02/Client.class
/target/classes/com/xyz/pattern/composite/composite02/IBranch.class
/target/classes/com/xyz/pattern/composite/composite02/ICorp.class
/target/classes/com/xyz/pattern/composite/composite02/ILeaf.class
/target/classes/com/xyz/pattern/composite/composite02/Leaf.class
/target/classes/com/xyz/pattern/composite/composite03/Branch.class
/target/classes/com/xyz/pattern/composite/composite03/Client.class
/target/classes/com/xyz/pattern/composite/composite03/Corp.class
/target/classes/com/xyz/pattern/composite/composite03/Leaf.class
/target/classes/com/xyz/pattern/iterator/common_iterator/Aggregate.class
/target/classes/com/xyz/pattern/iterator/common_iterator/Client.class
/target/classes/com/xyz/pattern/iterator/common_iterator/ConcreteAggregate.class
/target/classes/com/xyz/pattern/iterator/common_iterator/ConcreteIterator.class
/target/classes/com/xyz/pattern/iterator/common_iterator/Iterator.class

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/target/classes/com/xyz/pattern/composite/common_composite/Client.class
/target/classes/com/xyz/pattern/composite/common_composite/Component.class
/target/classes/com/xyz/pattern/composite/common_composite/Composite.class
/target/classes/com/xyz/pattern/composite/common_composite/Leaf.class
/target/classes/com/xyz/pattern/composite/transparent_composite/Client.class
/target/classes/com/xyz/pattern/composite/transparent_composite/Component.class
/target/classes/com/xyz/pattern/composite/transparent_composite/Composite.class
/target/classes/com/xyz/pattern/composite/transparent_composite/Leaf.class
/target/classes/com/xyz/pattern/observer/common_observer/Client.class
/target/classes/com/xyz/pattern/observer/common_observer/ConcreteObserver.class
/target/classes/com/xyz/pattern/observer/common_observer/ConcreteSubject.class
/target/classes/com/xyz/pattern/observer/common_observer/IObserver.class
/target/classes/com/xyz/pattern/observer/common_observer/Subject.class
/target/classes/com/xyz/pattern/observer/observer01/Client.class
/target/classes/com/xyz/pattern/observer/observer01/HanFeiZi.class
/target/classes/com/xyz/pattern/observer/observer01/IHanFeiZi.class
/target/classes/com/xyz/pattern/observer/observer01/ILiSi.class
/target/classes/com/xyz/pattern/observer/observer01/LiSi.class
/target/classes/com/xyz/pattern/observer/observer01/Spy.class
/target/classes/com/xyz/pattern/observer/observer02/Client.class
/target/classes/com/xyz/pattern/observer/observer02/HanFeiZi.class
/target/classes/com/xyz/pattern/observer/observer02/IHanFeiZi.class
/target/classes/com/xyz/pattern/observer/observer02/ILiSi.class
/target/classes/com/xyz/pattern/observer/observer02/LiSi.class
/target/classes/com/xyz/pattern/observer/observer03/Client.class
/target/classes/com/xyz/pattern/observer/observer03/HanFeiZi.class
/target/classes/com/xyz/pattern/observer/observer03/IHanFeiZi.class
/target/classes/com/xyz/pattern/observer/observer03/IObservable.class
/target/classes/com/xyz/pattern/observer/observer03/IObserver.class
/target/classes/com/xyz/pattern/observer/observer03/LiSi.class
/target/classes/com/xyz/pattern/observer/observer03/WangSi.class
/target/classes/com/xyz/pattern/observer/observer03/ZhouSi.class
/target/classes/com/xyz/pattern/observer/observer04/Client.class
/target/classes/com/xyz/pattern/observer/observer04/HanFeiZi.class
/target/classes/com/xyz/pattern/observer/observer04/IHanFeiZi.class
/target/classes/com/xyz/pattern/observer/observer04/LiSi.class
